# Configuración de la base de datos TiDB
DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_USER=1TEoM8obiKCAeP5.root
DB_PASSWORD=8zJ63QzDXkjGR2qS
DB_NAME=inventary
DB_PORT=4000

# Configuración del servidor
PORT=3000

# JWT Secret (cambiar en producción)
JWT_SECRET=duvanesgay

# Entorno
NODE_ENV=production
